<!doctype html>
<head>
  <title>Hello from Flask</title>
</head>
<body>

<h1>Hello {{ name }}!</h1>

<table border="0" cellpadding="0" cellspacing="0" width="100%">
  <thead>
  <th>Hotel ID</th>
  <th>Hotel Name</th>
  <th>Number of Reviews</th>
  <th>Address</th>
  <th>Number of Stars</th>
  <th>Amenities</th>
  <th>Image</th>
  <th>SnapTravel Price</th>
  <th>Hotel.com Price</th>
  </thead>
  <tbody>

  {% for row in data %}
  <tr>
    <td>{{ row.id }}</td>
    <td>{{ row.hotel_name }}</td>
    <td>{{ row.num_reviews }}</td>
    <td>{{ row.address }}</td>
    <td>{{ row.num_stars }}</td>
    <td>{{ row.amenities }}</td>
    <td><img src="{{ row.image_url }}" width="100px" height="100px" /></td>
    <td>{{ row.snaptravel_price }}</td>
    <td>{{ row.price }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>
<br />
<p>Last Cached At {{cache_time}}</p>
<br />

<form action="/compare" method="post">
  <input type="hidden" name="city" value="{{city}}" />
  <input type="hidden" name="check_in" value="{{check_in}}" />
  <input type="hidden" name="check_out" value="{{check_out}}" />
  <input type="hidden" name="reset_cache" value="0" />
  <button type="submit" name="submit">Reload</button>
</form>
<br />
<br />
<form action="/compare" method="post">
  <input type="hidden" name="city" value="{{city}}" />
  <input type="hidden" name="check_in" value="{{check_in}}" />
  <input type="hidden" name="check_out" value="{{check_out}}" />
  <input type="hidden" name="reset_cache" value="1" />
  <button type="submit" name="submit">Clear Cache And Reload</button>
</form>
</body>
